[plugins]
fnox-env = "https://github.com/jdx/mise-env-fnox"

[env]
_.fnox-env = {}

[tasks.encrypt-config]
description = "Encrypt the config file. Requires fnox to be configured."
tools = { age = "latest" }
run = """
AGE_RECIPIENT=$(fnox get CONFIG_KEY | age-keygen -y)
age --encrypt --recipient $AGE_RECIPIENT --armor --output clawdbot.json.enc clawdbot.json
"""

[tasks.decrypt-config]
description = "Decrypt the config file. Requires fnox to be configured."
tools = { age = "latest" }
run = """
test -f clawdbot.json.enc || (echo 'Error: clawdbot.json.enc not found' && exit 1)
fnox get CONFIG_KEY | age --decrypt --identity - --output clawdbot.json clawdbot.json.enc
"""